/* About Section */
#about {
    background-color: black;
    padding: 5rem 0;
    text-align: center;
    color: white;
}

#about h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: rgb(30, 157, 220);
}

.about-content {
    display: flex;
    justify-content: space-around;
}

.about-box {
    background-color: #161616;
    padding: 2rem;
    border-radius: 1rem;
    width: 75%;
    border: 2px solid rgb(30, 157, 220);
}

.about-box h3 {
    color: rgb(30, 157, 220);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-box p {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: rgb(30, 157, 220);
    border-bottom: 3px solidrgb(30, 157, 220);
}